<li>
	{{name}}

	<button class="change-ate" data-id="{{id}}" data-newEat="{{ate}}">
		{{#if ate}}ate TIME!{{else}}AGAIN?!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
