<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{ate}}">
		{{#if ate}}eat ME!{{else}}AGAIN?!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
